body {
  background-image: url(images/brillant.png);
}

h1, h2 {
  display: inline;
}

h2 a {
  font-size: 14px;
  margin-left: 12px;
}

h1 a {
  font-size: 30px;
}

.masterhead a {
  color: #999;
}

.masterhead a:hover {
  color: #0088cc;
  text-decoration: none;
}

hr {
  margin: 0 0 40px 0;
}

img {
  display: block;
  max-width: 100%;
  margin-right: auto;
  margin-left: auto;
  width: 352px;
  height: 198px;
}

.image-block {
  display: none;
}

.loading-icon {
  background-image: url(images/ajax-loader.gif);
  background-repeat: no-repeat;
  background-position: center center;
}

.progress {
  position: absolute;
  bottom: 20px;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 95%;
}

.thumbnail {
  position: relative;
}

.dashboard {
  visibility: hidden;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 20%;
  background-color: rgba(0, 0, 0, 0.40);
  text-align: right;
  border-radius: 4px;
}

.action-bar a {
  text-decoration: none;
  color: white;
  font-size: 16px;
  margin-left: 10px;
}

.action-bar {
  margin: 10px;
}

.thumbnail hr {
  margin: 0 0 10px 0;
}

.tip {
  margin: 100px auto 0 auto;
  width: 300px;
  font-size: 18px;
  color: #5a5a5a;
  z-index: -1;
}

.tip > li {
  margin-top: 8px;
}

.tip .bold {
  font-weight: bold;
  font-size: 20px;
}
