.page-cotent {
  margin-top: 30px;
}
#paste-zone {
  cursor: none;
  border: none;
  color: transparent;
  display: inline-block;
}
#image {
  max-height: 680px;
  max-width: 100%;
}
#progress-bar {
  margin-top: 300px;
  margin-left: auto;
  margin-right: auto;
  display: none;
}
.image-url-action {
  margin-left: 10px;
}
.image-url-action > .mdl-textfield__expandable-holder {
  margin-left: 50px;
  width: 255px;
}
.img-card {
  display: none;
  width: 85%;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
}
