doctype html
html
  head
    title Justpaste
    meta http-equiv="content-type" content="text/html charset=UTF-8"
    link rel="stylesheet" type="text/css" href="http://cdn.jsdelivr.net/bootstrap/2.0.4/css/bootstrap.min.css"
    link rel="stylesheet" type="text/css" href="http://cdn.jsdelivr.net/bootstrap/2.0.4/css/bootstrap-responsive.min.css"
    link rel="stylesheet" type="text/css" href="pnotify/jquery.pnotify.default.css"
    script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"
    script type="text/javascript" src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.0.4/js/bootstrap.min.js"
    script type="text/javascript" src="zclip/jquery.zclip.min.js"
    script type="text/javascript" src="jquery_paste_image_reader.js"
    script type="text/javascript" src="pnotify/jquery.pnotify.min.js"
    script type="text/javascript" src="paste.js"
    css:
      canvas {
        display: block;
        max-width: 100%;
        margin-right: auto;
        margin-left: auto;
      }
      .image-block {
        display: none;
      }
  body
    div class="navbar"
      div class="navbar-inner"
        div class="container"
          a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse"
            span class="icon-bar"
            span class="icon-bar"
            span class="icon-bar"
          a class="brand" href="#" Justpaste

    div class="container"
      - 3.times do
        div class="row"
          div class="span12"
            ul class="thumbnails"
              - 3.times do
                li class="span4 image-block"
                  a href="#" class="thumbnail"
                    canvas width="352" height="198"