<!DOCTYPE HTML>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <title>JustPaste</title>
    <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script type="text/javascript" src="clipboard/jquery.zclip.min.js"></script>
    <script type="text/javascript" src="paste.js"></script>
  </head>
  <body>
    <img id="image" alt="pasted image" src="http://images.google.com/intl/zh-TW_ALL/images/logos/images_logo_lg.gif"/>
  </body>
</html>
